
.showcase-zooming {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  // grid-gap: 2em;
  // height: 70vh;

  [class*="example"] {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    height: 30%;
  }

  .zoom-ex-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
  }

  .zoom-ex-2 {
    height: 250px;
  }

  .zoom-ex-3 {
    height: 250px;

    .hio-cards-container {
      div {
        height: 150px;
      }
    }
  }
}

