@import (reference) './resources/common/styles/colors.less';
@import (reference) './resources/common/styles/common.less';

#hio-color-palett {
  span {
    padding: 5px;
  }
  
  #main { background-color: @main-clr; }
  #pri { background-color: @pri-clr; }
  #pri-sup { background-color: @pri-support-clr; }
  #sec { background-color: @sec-clr; }
  #sec-sup { background-color: @sec-support-clr; }
}

#hio-body {
  background-color: @main-clr;
  color: @grey-clr;
}

.hio-app-container {
  padding: 20px;
  margin: 20px;
  border: 2px solid gray;
}


.jumpable {
  &:after {
    .jump-mark();
  }
}

.jump-mark() {
  content: attr(data-jump-mark-value);
  position: absolute;
  bottom: 0%;
  // left: 14%;
  margin-left: -16px;
  // border-width: 5px;
  // border-style: solid;
  // border-color: transparent transparent black transparent;
  background: #f3b758;
  padding: 5px;
  color:#fff8d6;
}