@import (reference) './resources/common/styles/colors.less';
@import (reference) './resources/common/styles/common.less';

#hio-color-palett {
  span {
    padding: 5px;
  }

  #main { background-color: @main-clr; }
  #pri { background-color: @pri-clr; }
  #pri-sup { background-color: @pri-sup-clr; }
  #sec { background-color: @sec-clr; }
  #sec-sup { background-color: @sec-sup-clr; }
}

#hio-body {
  background-color: @main-clr;
  color: @light-gray;
}

.hio-app-container {
  padding: 20px;
  margin: 20px;
  border: 2px solid gray;
}


.show-mouse-coords {
  position: absolute;
  z-index: 10;
  background: @coal;
  padding: 0 5px;;
}

.jumpable {
  &:before {
    .jump-mark();
    .hio-shadow();
  }
}

.jump-mark() {
  content: attr(data-jump-mark-value);

  background: @sec-sup-clr;
  border-radius: 3px;
  border: 1px solid black;
  color: @coal;
  font: 18px Arial;

  padding: 0 5px;
  transform: translate(0%, 120%);
  position: absolute;
}
