@import (reference) '../../app.less';
@import (reference) '../common/styles/colors.less';

.simple-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  .simple-list {
    // border: 2px dotted gray;
    list-style-type: none;
    position: relative;
    width: 30vw;
    -webkit-padding-start: 0; // Removes right margin in `li` tags due to bullet points

    li {
      border: 1px black solid;
      margin-top: -1px;
      padding: 6px 6px 6px 20px;

      &.drag-active {
        background: @main-clr-hover;
        z-index: 1;
      }

      &.drag-shadow {
        opacity: 0.4;
        margin: 0;
      }
    }
  }
}
