@import (reference) '../../app.less';
@import (reference) '../common/styles/colors.less';

.simple-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  .simple-list {
    list-style-type: none;
    position: relative;
    width: 30vw;
    -webkit-padding-start: 0; // Removes right margin in `li` tags due to bullet points

    li {
      border: 1px black solid;
      margin-top: -1px;
      padding: 6px 6px 6px 20px;

      &.is-draggel {
        background: @pri-clr-hover;
        z-index: 1;
      }

      &.drag-shadow {
        opacity: 0.4;
        margin-top: -1px; // since original also have this. We compensate the double border line issue with that.
      }

      &.drag-entered {
        background: @pri-clr-truthy-hover;
      }

      &.drag-left {
        background: @pri-clr-falsy-hover;
      }
    }

    .sort-list {
      padding-left: 10px;

      i:hover {
        &.sort-desc, &.sort-asc {
          cursor: pointer;
          -webkit-text-fill-color: @pri-clr-truthy-hover;
        }
      }
    }



    .dropzone {
      display: block;
      height: 10px;
      &.hover {
        background: @pri-clr-hover;
      }
    }
  }
}
