@import (reference) '../../common/styles/colors.less';

.markdown-parser-container {

  .markdown-parser {
    background: @sec-clr;
    color: @main-text-clr;
    width: 100%;
    // height: 70vh;
    padding: 20px;
  }

  .markdown-parser-result {
    width: 40vw;
    // float: right;

    pre {
      color: @light-text-clr;

      code {
        .code_selection();
        .line-number {
          .code_line_hover();
        }

        .highlight-code-line-class {
          background: @pri-clr;
        }

        span {
          .code_selection();
        }
      }
    }
  }

  #monaco-container {
    height: 60vh;
  }
}

.code_selection() {
  &::selection {
    background: blue;
    opacity: 0.5;
  }
}

.code_line_hover() {
  &:hover {
    background: @pri-clr-hover;
  }
}