@import (reference) '../../resources/common/styles/animation.less';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  background: #666;
  border: 1px solid black;

  &.au-enter {
    transform: translate3d(-120%, 0, 0);
  }

  // this styles for if.bind
  // &.au-enter-active {
  //   animation: swipeRight .4s;
  // }
  // &.au-leave-active {
  //   animation: swipeLeft .4s;
  // }

  &.aurelia-hide-add {
    animation: swipeLeft 0.3s ease-out;
  }
  &.aurelia-hide-remove {
    animation: swipeRight 0.3s ease-out;
  }

  .sidebar-close-button {
    float: right;
    margin: 10px;
  }
}



@keyframes swipeRight {
  0%   { transform: translate3d(-120%, 0, 0); }
  100%   { transform: translate3d(0, 0, 0); }
}

@keyframes swipeLeft {
  0%   { transform: translate3d(0, 0, 0); }
  100%   { transform: translate3d(-120%, 0, 0); }
}
