@import (reference) '../../../styles/common.less';

// Uncomment for easier styling
// .demo-mask {
//   &, & div {
//     .hio-border-fact();
//   }
// }

.demo-mask {
  position: relative;
  font-size: 14px;

  &:hover {
    & > more-options-menu {
      display: block;
    }
  }

  .demo-container {
    padding: 1em;

    .demo-item-desc {
      margin-bottom: 1.5em;
    }

    .demo-item {
      margin-top: 1.5em;
      display: flex;
      justify-content: space-between;

      & > div {
        min-height: 25vh;
        min-width: 40vw;
      }

      .demo {
        .hio-border-fact();
      }

      .demo-doc {
        .hio-border-fact();
      }
    }
  }
}
