//////////////////////////////////////////////////////////////
//
//            Main Colors

@main-clr: #343A40;
@pri-clr: #121B25;
@pri-support-clr: #1A1F24;
@sec-clr: #4F575E;
@sec-support-clr: #6C747C;
@grey-clr: #bbb;

//////////////////////////////////////////////////////////////
//
//            Hovering Colors

@pri-clr-hover: #24434a;
@pri-clr-truthy-hover: #54747B;
@pri-clr-falsy-hover: #652820;

@sec-clr-hover: #697077;
@sec-clr-truthy-hover: #8A9095;
@sec-clr-falsy-hover: #B8A8A1;
