@import (reference) '../../resources/common/styles/colors.less';
@import (reference) '../../resources/common/styles/common.less';

@sidebarMargin: 16px;
@sidebarPadding: 16px;

.page-container {
  display: flex;
  & * { border: 1px dashed #333; }

  .lyrics-container {
    width: 50%;

    .lyrics-line {
      display: flex;

      .lyrics-line-number { margin: 0 20px; }

      .lyrics-text {
        .lyrics-original,
        .lyrics-translation {
          .lyrics-word {
            &:hover {
              color: orange;
              cursor: pointer;
            }
          }
        }

        .lyrics-original {

        }

        .lyrics-translation {

        }
      }
    }
  }

  .video-container {
    width: 50%;

  }
}

// TODO: Figure out where these styles should go
// To sidebar.less? ~~> So every bottom sidebar has this basic layout
.sidebar.sidebar-bottom {
  .sidebar-content {
    .sidebar-header {
      /* Fix: clicking in margin closes the header */
      padding: @sidebarPadding;
      margin-bottom: 0;

      .lyrics-word {
        &:hover {
          color: orange;
          cursor: pointer;
        }
      }
    }

    .sidebar-body {
      margin: @sidebarMargin;

      .translation-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: @sidebarMargin;

        > * { border: 1px solid; }

        .original {
          width: 48%;
          min-height: 140px;
        }

        .translation {
          width: 48%;
          min-height: 140px;
        }
      }

      .sidebar-history-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .sidebar-history {
          display: flex;
          width: 100%;
          justify-content: space-between;

          .history-original { width: 48%; }
          .history-translation { width: 48%; }
        }

      }

      label.label-top {
        display: flex;
        flex-direction: column;

        .comment-textarea {
          height: 100px;
          width: 100%;
          background: #222222;
          color: @main-text-clr;
        }
      }
    }

    .sidebar-footer {
      button.save-changes {
        // bottom right
        position: absolute;
        bottom: 20px;
        left: calc(100% - 100px);
        right: 100%;
        // Have content be 'align-right'
        display: flex;
        justify-content: flex-end;

        color: #f36a6a;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  /** Half screen size (13' macbook should show full lyrics)*/
  .page-container {
    .lyrics-container { width: 100%; }
    .video-container { display: none; }
  }
}
